* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    gap: 2em;
    padding-left: 130px;
}

@font-face {
    font-family: "RobotoSlab";
    src: url(./font-family/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(./font-family/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

#section2 {
    font-size: 18px;

}

.section2-top {
    justify-content: space-between;
    font-size: 24px;
}

.section2-h1 {
    margin-bottom: 20px;
    font-family: RobotoSlab;
}

.section2-p {
    font-family: Roboto;
}

.section2-right img {
    /* width: 520px; */
    height: 320px;
    margin-bottom: 90px;
    padding-right: 100px;
    /* padding-right: 300px; */
}

.section2-common {
    display: flex;
    justify-content: space-between;

}

.section2-button {
    display: flex;
    justify-content: space-between;
    padding-right: 300px;
    align-items: center;
}

.section2-text h1 {
    font-family: RobotoSlab;
}

.section2-text p {
    font-family: Roboto;
}

.section2-img2 {
    width: 232px;
    height: 219px;
}

.section2 h1 {
    margin-bottom: 10px;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .section2-right img {
        /* width: 212px; */
        height: 200px;
    }
    .section2-img2 {
        width: 135px;
        height: 118px;
    }
    .section2-left{
       width: 283px; 

    }
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .section2-right img {
        /* width: 170px; */
        height: 160px;
    }

    .section2-common {
        display: flex;
        flex-direction: column;

    }

    .section2-h1 {
        padding-left: 36px;
    }

    /* .section2 row1{
    display: flex;
    flex-direction: row;
    gap: 30px;
} */
    /* .section2 row2{
    display: flex;
} */
    .section2-button .section2-img2 {
        display: none;
    }

    .section3 {
        flex-direction: column;
        gap: 30px;
    }
}

.section3 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    padding-right: 300px;
}

.section3-h1 {
    margin-bottom: 70px;
    margin-top: 50px;
    font-size: 48px;
}

.section3-text h1 {
    font-size: 30px;
    font-family: RobotoSlab;
}

.section3-text p {
    font-size: 20px;
    font-family: Roboto;
}

.section3 h1 {
    color: #1e4681;
}