* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Roboto";
    src: url("./font-family/Roboto/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Slab";
    src: url("./font-family/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf") format("truetype");
}

/* header .header-img {
    width: 100px;
    background-color: aquamarine;
    color: black;
} */

footer {
    background-color: black;
    height: 35vh;
    width: 100%;
}

footer ul {
    list-style-type: none;
}

.footer-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 122px;
    padding-right: 146px;
}

footer .footer-left-content {

    /* height: 100%; */
    display: flex;
    justify-content: space-between;
    /* gap: 30px; */
}

.footer-org-text {
    display: flex;
    padding-bottom: 63px;
    align-content: flex-end;
}

footer .footer-img {
    width: 115px;
    padding-bottom: 20px;
    background-color: black;
    color: black;
}

footer .footer-icon {
    width: 33px;
}

footer .icon-list {
    display: flex;
    gap: 18px;
    list-style: none;
    align-items: baseline;
}



footer .footer-text {
    color: white;
    font-family: "MyFont", Roboto;
}

footer .right-list {
    display: flex;
    align-content: center;
    flex-direction: column;
    gap: 25px;
}

footer .inside-right-list {
    display: flex;
    gap: 18px;
}

#section7 {
    /* width: 100%; */
    /* height: 65vh; */
    background-color: rgba(157, 201, 200, 1);
    padding-left: 130px;
    /* padding-top: 190px; */
    /* padding-bottom: 100px; */
    display: flex;
    align-items: center;
    /* height: 780px; */
    height: 93vh;
}

#section7 ul {
    list-style-type: none;
    
}

#section7 .section7-content {
    /* padding-left: 122px; */
    /* padding-top: 179px; */
    display: flex;
    flex-direction: column;
    gap: 84px;
}

#section7 .date-info {
    font-size: 55px;
    font-weight: bold;
    font-family: "Roboto Slab"
}

#section7 .headings {
    font-size: 25px;
    margin-bottom: 12px;
    font-family: "Roboto";
}

#section7 .number {
    font-size: 80px;
    font-family: "Roboto";
}

#section7 .info-list {
    display: flex;
    gap: 70px;
}

#section7 .info-text {
    width: 294px;
    font-size: 18px;
    font-family: "Roboto";
}

@media screen and (min-width: 601px) and (max-width: 1024px) {

    footer {
    background-color: black;
    height: 35vh;
    width: 100%;
}

    #section7 {
    /* width: 100%;
    height: 40vh;
    background-color: rgba(157, 201, 200, 1); */

    /* width: 100%; */
    /* height: 65vh; */
    background-color: rgba(157, 201, 200, 1);
    padding-left: 70px;
    /* padding-top: 190px; */
    /* padding-bottom: 100px; */
    display: flex;
    align-items: center;
    /* height: 780px; */
    height: 60vh;
}

    #section7 .section7-content {
        /* padding-left: 70px;
        padding-top: 103px; */
        display: flex;
        flex-direction: column;
        gap: 64px;
    }

    #section7 .date-info {
        font-size: 32px;
        font-weight: bold;
        font-family: "Roboto Slab"
    }

    #section7 .headings {
        font-size: 14px;
        font-family: "Roboto"
    }

    #section7 .number {
        font-size: 46px;
        font-family: "Roboto"
    }

    #section7 .info-list {
        display: flex;
        gap: 49px;
    }

    #section7 .info-text {
        width: 170px;
        font-size: 10px;
        font-family: "Roboto"
    }

    footer .footer-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 28.96px;
        padding-left: 70.66px;
        padding-right: 84px;
    }

    footer .footer-left-content {

        height: 100%;

        display: flex;
        justify-content: space-between;

    }

    footer .icon-list {
        display: flex;
        gap: 10px;
        list-style: none;
        align-items: baseline;
    }

    footer .footer-img {
        width: 66.5px;
        padding-bottom: 17px;
        background-color: black;
        color: black;
    }

    footer .footer-icon {
        width: 19px;
    }

    footer .footer-org-text {

        display: flex;
        padding-bottom: 37px;
        align-content: flex-end;
    }

    footer .inside-right-list {
        display: flex;
        gap: 10.5px;
    }

    footer .right-list {
        display: flex;
        flex-direction: column;
        gap: 14.5px;
        right: 146px;
        top: 59px;
    }


}

/* @media screen and (min-width: 601px) and (max-width: 1024px) {
    #section7 .info-text {
        width: 170px;
        font-size: 10px;
        font-family: "Roboto"
    }
} */


@media screen and (max-width: 600px) {

    footer {
    background-color: black;
    height: 40vh;
    width: 100%;
}

     #section7 {
    /* width: 100%;
    height: 80vh;
    background-color: rgba(157, 201, 200, 1); */

    /* width: 100%;
    height: 40vh;
    background-color: rgba(157, 201, 200, 1); */

    /* width: 100%; */
    /* height: 65vh; */
    background-color: rgba(157, 201, 200, 1);
    padding-left: 70px;
    /* padding-top: 190px; */
    /* padding-bottom: 100px; */
    display: flex;
    align-items: center;
    /* height: 780px; */
    height: 70vh;
}

    #section7 .section7-content {
        /* padding-left: 57px;
        padding-top: 62px; */
        display: flex;
        flex-direction: column;
        gap: 40px;


    }

    #section7 .date-info {
        font-size: 26px;
        font-weight: bold;
        font-family: "Roboto Slab"
    }

    #section7 .headings {
        font-size: 12px;
        font-family: "Roboto"

    }

    #section7 .number {
        font-size: 37px;
        font-family: "Roboto"

    }

    #section7 .info-list {
        display: flex;
        gap: 31px;

    }

    #section7 .info-text {
        width: 138px;
        font-size: 10px;
        font-family: "Roboto"

    }

    footer .footer-content {
        height: 100%;
        /* display: flex; */
        /* justify-content: space-between; */
        /* flex-direction: column; */
        padding-top: 23.03px;
        padding-left: 56.85px;
        padding-right: 84px;
    }

    footer .footer-left-content {
        gap: 48px;
        display: flex;
        flex-direction: column;
    }

    footer .icon-list {
        display: flex;
        gap: 8.5px;
        list-style: none;
        align-items: baseline;
    }

    footer .footer-img {
        width: 53.5px;
        padding-bottom: 14px;
        background-color: black;
        color: black;
    }

    footer .footer-icon {
        width: 15px;
    }

    footer .footer-org-text {

        display: flex;
        padding-bottom: 29px;
        align-content: flex-end;
    }

    footer .inside-right-list {
        display: flex;
        gap: 10.5px;
    }

    footer .right-list {
        display: flex;
        flex-direction: column;
        gap: 11.5px;
        right: 146px;
        top: 59px;
    }
}